anyio
httpx
torch
numpy
open_clip_torch
pymysql
dbutils
fastapi
gpt4all
langchain-text-splitters
langchain-community
Pillow
pydantic
sentence-transformers
scikit-learn
transformers
uvicorn
python-multipart
