@model ADproject.Models.DTOs.ChangePasswordDto

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold text-success" href="@Url.Action("Status", "User")">
            <i class="bi bi-tree-fill"></i> Pocketree
        </a>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-end">
        <div class="card shadow-sm rounded-4 border-0">
            <div class="card-body p-4">
                <div class="mb-5">
                    <h4 class="text-danger mb-3">Security</h4>
                    <p class="text-muted small">To update your password, fill in the details below.</p>                
                    <form asp-controller="User" asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                        </div>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                        <div class="mb-3">
                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" />
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                        <div class="mb-3">
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password" />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

