anyio
httpx
numpy
fastapi
uvicorn
python-multipart

pymysql
DBUtils

torch==2.2.2
torchvision==0.17.2
open-clip-torch

pydantic
scikit-learn

transformers
sentence-transformers

langchain-text-splitters
langchain-community

Pillow
gpt4all
