anyio
httpx
numpy
fastapi
uvicorn
python-multipart

pymysql
DBUtils

torch==2.2.2
torchvision==0.17.2
open-clip-torch

pydantic
scikit-learn

transformers==4.41.2
accelerate==0.31.0
sentence-transformers==2.7.0

langchain-text-splitters
langchain-community

Pillow
gpt4all
